*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#formBody ul{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 30px;
    border: 1px solid #888;
}
#formBody li{
    list-style: none;
    margin: 25px 30px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}
#formBody label{
    font-size: 20px;
    padding-left: 10px;
}
#formBody input{
    width: 350px;
    height: 28px;
    padding-left: 7px;
    border-radius: 5px;
    border: 1px solid #888;
}
#formBody button{
    padding: 20px 30px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}
#tableBody{
    border: 1px solid #000;
}
#tableBody th{
    background-color: rgb(189, 189, 189);
    border: 1px solid #000;
    padding: 10px 15px;

}
#tableBody td {
    border: 1px solid #000;
    text-align: center;
    padding: 10px 15px;

}
#tableBody td img{
    width: 100px;
    height: 100px;
}
#formMessage{
    padding: 20px 15;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #888;
    border-radius: 30px;
}
#formMessage li{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
#formMessage input{
    width: 350px;
    height: 28px;
    padding-left: 7px;
    border-radius: 5px;
    border: 1px solid #888;
}
#formMessage button{
    padding: 20px 30px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
    width: 500px;
    border: 1px solid #888;
    margin-bottom: 20px;
    border-radius: 15px;


}
.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
    border: 1px solid #444 ;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	margin-bottom: 7px;
    color: blue;
}

.chat-messages .message .meta span {
	color: brown;
    margin-left: 7px;
}
.chat-messages .message .text{
    font-style: italic;
    color: green;
}
h1 {
    color: blue;
}

label {
    font-weight: bold;
    font-style: italic;
}

.jumbotron {
    min-height: 10vh;
}
.homeBody{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.containerHome{
    min-height: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 100px; 
}
.containerHome a{
    text-decoration: none;
    color: black;
    padding: 10px 60px;
    border-radius: 5px;
    border: 1px solid #888;
}
.containerHome a:hover{
    background-color: #888;
    color: white;
    transition: 0.5s;
}



/*#



.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}
*/