div(class='container mt-3')
    h1(class='alert alert-success') Bienvenido
        span(class='ml-3')= name
    button(type='button'  class= 'btn btn-warning float-right mt-2' onclick="location.href='/api/logout'") Desloguearse 